@import "variables";

$font-sizes-desktop: (
  button: 16px,
  caption: 12px,
  description: 14px,
  heading-small: 24px,
  heading: 32px,
  paragraph: 16px,
  subtitle: 20px
);

$font-sizes-mobile: (
  button: 16px,
  caption: 12px,
  description: 12px,
  heading-small: 20px,
  heading-medium: 24px,
  paragraph: 14px,
  subtitle: 18px
);

$line-heights: (
  button: 125%,
  caption: 133%,
  description: 150%,
  heading-small: 120%,
  heading-medium: 120%,
  paragraph: 150%,
  subtitle: 120%
);

@mixin typography($type: paragraph, $weight: null) {
  font-size: map-get($font-sizes-mobile, $type);
  @media screen and (min-width: $breakpoint) {
    font-size: map-get($font-sizes-desktop, $type);
  }

  line-height: map-get($line-heights, $type);

  $font-weight: $font-weight-normal;
  @if $weight {
    $font-weight: $weight;
  }

  font-weight: $font-weight;
}
