$breakpoint: 580px;

$color-brand-primary: #1B31A8;
$color-brand-secondary: #0079FF;
$color-blue-gray-10: #F4F8FA;
$color-blue-gray-50: #E9EEF2;
$color-blue-gray-400: #708797;
$color-blue-gray-900: #1E2A32;
$color-neutral-white: #FFFFFF;

$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Rubik', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
