@import "reset";
@import "variables";

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  color: $color-blue-gray-900;
  font-family: $font-primary;
  background-color: $color-blue-gray-10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
