@import 'src/styles/_typography.scss';
@import 'src/styles/_variables.scss';

.SavingGoal {
  align-items: center;
  background-color: $color-neutral-white;
  border-radius: $spacing-sm;
  box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $breakpoint) {
    max-width: 560px;
  }

  &__icon {
    height: 64px;
    margin-right: $spacing-md;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: $spacing-lg $spacing-lg $spacing-md;
    width: 100%;

    @media screen and (min-width: $breakpoint) {
      padding: $spacing-xl 40px $spacing-lg;
    }

    &Text {
      display: flex;
      flex-direction: column;

      &--heading {
        font-family: $font-secondary;
        line-height: 120%;
        margin-bottom: $spacing-xs;

        @include typography(heading-small, 500);
      }

      &--paragraph {
        color: $color-blue-gray-400;
        line-height: 120%;

        @include typography(paragraph);
      }
    }
  }

  &__main {
    padding: 0 $spacing-lg $spacing-xl;
    width: 100%;

    @media screen and (min-width: $breakpoint) {
      padding: 0 40px $spacing-xl;
    }
  }

  &__form {
    flex-direction: column;
    display: flex;

    @media screen and (min-width: $breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__monthly {
    border-radius: 8px;
    border: 1px solid $color-blue-gray-50;
    margin-top: $spacing-lg;

    &Amount {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: $spacing-lg;

      @media screen and (min-width: $breakpoint) {
        padding: $spacing-lg $spacing-xl $spacing-md;
      }

      &--subtitle {
        @include typography(subtitle);
      }

      &--heading {
        @include typography(heading, 500);

        font-family: $font-secondary;
        color: $color-brand-secondary;
      }
    }

    &Deposits {
      background-color: $color-blue-gray-10;
      padding: $spacing-lg $spacing-xl;

      &--caption {
        @include typography(caption);

        &Bold {
          font-weight: $font-weight-bold;
        }
      }
    }

  }

  &__submitButton {
    background-color: $color-brand-primary;
    border-radius: 999px;
    color: $color-neutral-white;
    margin: 0 20px 40px;
    max-width: 320px;
    padding: 18px;
    width: 100%;

    @include typography(button, $font-weight-bold);

    &:hover, &:active {
      cursor: pointer;
      background-color: $color-brand-secondary;
    }

    &:active {
      transform: translateX(1px) translateY(1px);
    }
  }
}
