@import 'src/styles/_typography.scss';
@import 'src/styles/_variables.scss';

.DateInput {
  display: flex;
  flex-direction: column;
  position: relative;

  @include typography(description);

  &__input {
    border-radius: 4px;
    border: 1px solid $color-blue-gray-50;
    display: flex;
    height: 56px;
    margin-top: $spacing-xs;
    padding: $spacing-xs;
    width: 100%;
  }

  &__button {
    background-color: $color-neutral-white;
    border-radius: 4px;
    color: $color-blue-gray-300;
    padding: 0 $spacing-md;

    &:hover, &:active {
      cursor: pointer;
      background-color: $color-blue-gray-10;
    }

    &:disabled {
      background-color: $color-neutral-white;
      color: $color-blue-gray-100;
      cursor: default;
    }
  }

  &__icon {
    height: 14px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 $spacing-md;
    min-width: 88px;
    text-align: center;

    @include typography(paragraph);

    &--bold {
      font-weight: $font-weight-bold;
    }
  }

  &__listItem {
    margin: 2px;
    padding: 4px;
    justify-self: center;

    &:hover {
      cursor: pointer;
      background-color: $color-blue-gray-10;
    }
  }

  &__popper {
    align-items: center;
    background-color: $color-neutral-white;
    border-radius: 4px;
    border: 1px solid $color-blue-gray-50;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(300, 1fr);
    justify-content: space-between;
    max-height: 320px;
    overflow: scroll;
    width: 100%;

    @media screen and (min-width: 410px) {
      grid-template-columns: 33% 34% 33%;
    }

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(4, 25%);
    }

    @media screen and (min-width: $breakpoint) {
      grid-template-columns: 50% 50%;
    }
  }
}
