@import 'src/styles/_variables.scss';

.Header {
  background-color: $color-neutral-white;
  margin-bottom: 8px;
  padding: 16px;

  &__logo {
    height: 24px;
  }

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 24px;
    padding: 24px 56px;

    &__logo {
      height: 32px;
    }
  }
}
