@import 'src/styles/_typography.scss';
@import 'src/styles/_variables.scss';

.App {
  &__paragraph {
    color: $color-brand-primary;
    padding: 24px 0;
    text-align: center;

    @include typography(subtitle);

    &--bold {
      font-weight: $font-weight-bold;
    }
  }
}
